@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

.nav-bar{
  background-color: var(--g1);
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 165px;
}
#logo a{
  text-decoration: none;
  color: #032D20;
}

#logo{
  font-size: 2.5rem;
  font-family: 'Ephesis', cursive;
  line-height: 110%;
}

.logo-spacing{
  margin-left: 20px;
}


.nav-bar ul {
  color: #032D20;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.6rem;
  align-items: center;
  width: max-content;
  gap: 20px;
}

.link-nav{
  color: var(--g14);
  text-decoration: none;
}


