@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

.banner{
  box-sizing: border-box;
  background-image: url("/assets/imgs/opening-door.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 165px;
  text-align: center;
}

#acomodacoes-title{
  font-size: 3.75rem;
  color: var(--g12);
  font-family: 'Ephesis', cursive;
}

.banner p{
  margin-left: 10px;
  color: black;
  font-size: 1.5rem;
}

