@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.card-room{
  position: relative;
  width: 75%;
  height: 450px;
  background-color: #e2e2e2;
  margin: 30px auto;
  border-radius: 4px;
  transition: 0.5s;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-room:hover {
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #FAFAFA;
}

.card-room .informations{
  padding: 0px 3rem;
}

.card-room h1{
  color: var(--g12);
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.informations ul{
  list-style-type: none;
  font-size: 1.5rem;
  margin-top: 7rem;
}

.informations ul li{
  margin-bottom: 20px;
}

.informations ul img{
  width: 25px;
}

.photo{
  height: 450px;
}

.photo img{
  height: 100%;
}

.valor{
  font-size: 3rem;
  text-align: center;
  color: var(--g12);
  margin-top: 3.5rem;
}

.bar-effect{
  width: 420px;
  height: 5px;
  background-color: var(--g10);
  position: absolute;
  right: 469px;
  top: 127px;
}

.tipo-quarto{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  font-size: 2.5rem;
  margin: 50px auto 35px auto;
  font-family: 'Poppins', sans-serif;
}

.solteiro{
  cursor: pointer;
}

.casal{
  cursor: pointer;
}

.selected{
  color: var(--g10);
  border-bottom: 3px solid var(--g10);
  transition: 500ms;
}