/* Criando variáveis globais para alinhas com o figma. */
:root{
  --g1: #DFFFF5;
  --g2: #C8FEEE;
  --g3: #A7F0DA;
  --g4: #85E1C5;
  --g5: #68D5B4;
  --g6: #4EC39F;
  --g7: #34AD88;
  --g8: #209975;
  --g9: #1A8867;
  --g10: #0F7455;
  --g11: #095F45;
  --g12: #044934;
  --g13: #073B2B;
  --g14: #032D20;
  --border: #28735C;
}

/* Body */
html {
  scroll-behavior: smooth;
}
body{
  margin: 0;
}

/*Buttons*/

.botao{
  box-sizing: border-box;
  width: 155px;
  height: 40px;
  color: white;
  background-color: var(--g14);
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
  line-height: 40px;
}

.botao:hover{
  background-color: var(--g11);
}

.botao a{
  display: inline-block;
  color: white;
  text-decoration: none;
  /* width: 100px; */
  height: 40px;
}

.sub-titulo{
  font-family: 'Ephesis', cursive;
  font-size: 3.75rem;
  display: block;
  text-align: center;
}

hr{
  padding: 0px 0px;
}



.sobre, .contato, .localizacao, .banner, .card-room{
  visibility: hidden;
}

.mt-4{
  margin-top: 4rem;
}