@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');


main > div{
    padding: 80px 165px;
}

.sobre{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.sobre p{
  font-size: 1.3rem;
}

img{
  display: block;
  max-width: 100%;
  object-fit: cover;
}